@model RegisterViewModel

@{
    ViewData["Title"] = "Üye Ol";
}

<div class="row">
    <div class="col-4 offset-4">
        <h1 class="dispaly-4 border-bottom text-center pb-3">Üye Ol</h1>
    </div>
</div>

<div class="row">
    <div class="col-4 offset-4">
        <div asp-validation-summary="ModelOnly" class="text-danger small"></div>
        <form method="post">
            <div class="form-group mb-3">
                <label asp-for="Username" class="form-label"> Kullanıcı Adı:</label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger small"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Password" class="form-label">Şifre: </label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger small"></span>
            </div>
            <div class="form-group mb-3 ">
                <label asp-for="RePassword" class="form-label">Şifre Tekrar: </label>
                <input asp-for="RePassword" type="password"  class="form-control" />
                <span asp-validation-for="RePassword" class="text-danger small"></span>
            </div>
            <div class="form-group d-grid mb-3">
                <button type="submit" class="btn btn-outline-primary d-block">
                    Üye Ol
                 </button>
            </div>
        </form>


    </div>
</div>